/* ul,
ol {
    list-style: none;
}  скинули маркери на усі списки*/
/* #2E2F42 -заголовки #434455 - опис */
/* відкрити закриті папки файли
main-logo
footer-logo  */
/* ------------------------------------------------ */
.title-text {
  font-family: 'Roboto';
  font-size: 36px;
  line-height: 1.12;
  color: var(--header-color);
}

.list-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-navy-color);
}

.text-description {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-slate-color);
}

.text-footer {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}


/* -------------------------------------------- */
:root {
  --header-color: #2E2F42;
  --background-color: #FFFFFF;
  --text-navy-color: #2E2F42;
  --text-slate-color: #434455;
  --text-cloud-color: #F4F4FD;
  --text-iris-color: #4D5AE5;
  --text-ocean-color: #404BBF;
}

a:link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background-color);
  letter-spacing: 0.02em;
  text-decoration: none;

}

.p {
  color: #434455;
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

.p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.ul, ol{
  margin: 0;
  padding: 0;
}

.img{
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.team-list{
  background-color: #F4F4FD;

}
.container{
  align-items: center;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid violet;
}


/*-------- INDEX */


.top-line{
}

.top-conteiner{
  display: flex;
  align-items: center;

}
.nav-main{
  display: flex;
  align-items: center;
 
}

.nav-main {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;

}

.main-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}

.main-logo{
  margin-right: 76px;
 
}


.main-logotype {
  color: #2E2F42;
}

.address {
  font-style: normal;
  align-items: center;
  margin-left: auto;
  /* display: flex;
  justify-content: flex-end; */
}

/* .address-conteiner{
  display: flex;
  align-items: center;
  margin-left: 332px;
  
} */


.top-line-nav a {
  color: #2E2F42;
  list-style: none;
}

.top-line-nav {
  
  list-style: none;
  color: #2E2F42;
  
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}

.top-line-nav{
  display: flex;
  align-items:center;
  gap: 40px;
}





.top-line-nav a:hover,
.top-line-nav a:focus {
  color: #404BBF;
}

.contacts-us a:hover,
.contacts-us a:focus {
  color: #404BBF;
}


.contacts-us a {
  color: #434455;
  list-style: none;
  font-family: 'Roboto';
  line-height: 1.5;
  letter-spacing: 0.02em;




}

.contacts-us {
    display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}



/* ---------------SECTION 2----------------------- */



.main-title {
  display: flex;
  background-color: #2E2F42;
  padding: 188px 272px 292px 492px;

}


.main-title-text {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.main-title-text{
  max-width: 496px;
  flex-grow: 1;
  margin: 0 auto;
  
}

.button-main {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4D5AE5;
  cursor: pointer;
  width: 169px;
  height: 56px;
  
  
}

.button-main{

}

.button-main:hover,
.button-main:focus {
  background-color: #404BBF
}

.main-about p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-about{
  padding-top: 123px;
  padding-bottom: 185px;

}

.about-us{
  display: flex;
  align-items: center;
  gap: 24px;
}

.list-text{
  margin-bottom: 8px;
}
.about-us li {
  display: inline;
  padding: 0px;
  gap: 8px;
  flex-direction: column;
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

}



/* SECTION 3 */
.doing-list{
  padding-top: 185px;
  padding-bottom: 52px;
}


.work-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--header-color);
  padding-bottom: 72px;
}

.our-work{
  gap: 24px;
}




/* SECTION TEAM */
/* .team-list {
  display: flex;
  align-items: center;
  padding-top: 52px; 
  background-color: #F4F4FD;
  gap: 24px; 
}  */

.team-photo{
  padding-top: 120px;
  padding-bottom: 72px;
}

.image-main{
  background-color: #FFFFFF;
}
.team-list p {
  font-family: 'Roboto', sans-serif;
}

.team-photo {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--header-color);
  letter-spacing: 0.02em;
  
}


.our-work li {
  display: flex;
  text-decoration: none;
  font-family: 'Roboto' sans-serif;
  color: #2E2F42;
  display: inline-block;

  border: 1px solid #E7E9FC;
}

.team-piccontainer {
  width: 1440px;
  outline: 2px solid violet;
}
.team li {
  display: inline-flex;
  text-decoration: none;
  font-family: 'Roboto' sans-serif;
  color: #2E2F42;
  display: inline-block;
}
/* .team li {
  text-decoration: none;
  font-family: 'Roboto' sans-serif;
  color: #2E2F42;
  } */

/* --------PORTFOLIO------- */

.filter-button{
  min-width: 69px;
  width: 586px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 427px;
  
}

.button-port{
  display: flex;
  align-items: center;
  min-width: 69px ;
  height: 48px;
}
.button-port {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  
  text-align: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  cursor: pointer;
  background-color: var(--text-cloud-color);
}



.button-port:hover,
.button-port:focus {
  background-color: #404BBF;
  color: #FFFFFF;
}



.pic-portfolio{
  outline: 2px solid green;
  display: flex;
  align-items: center;
  gap: 24px;
}


.our-projects li {
  text-decoration: none;
  font-family: 'Roboto' sans-serif;
  color: #2E2F42;
  display: inline-block;
  border: 1px solid #E7E9FC;
  background: #FFFFFF;
  font-family: 'Roboto';
}
.image link{
  text-decoration: none;
}








/* ------Footer */
.foot {
  background-color: #2E2F42;
  color: #F4F4FD;
  font-family: 'Roboto';
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}


.foot {
  color: var(--text-cloud-color);
  background-color: #2E2F42;
  list-style: none;

}

.footer-logo{
  margin-bottom: 16px;
}

.footer-logotype {
  color: #F4F4FD;
  
}

